<!--
Define metadata for browsers and devices
VERY useful when your site is loaded on different devises on different settings
-->
<meta charset="UTF-8">
<meta name="description" content="A student project :)">
<meta name="Author" content="Martynas Smilingis">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Visual header display data -->
<title>VMB GUSTAV</title>
<link rel="icon" type="image/x-icon" href="../../static/pictures/Icon.jpg">

<!-- Load static filter -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/textStyles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/menuStyle.css' %}">